.reflect-line {
  -webkit-transform-origin: 15px 15px 0;
  -moz-transform-origin: 15px 15px 0;
  -ms-transform-origin: 15px 15px 0;
  -o-transform-origin: 15px 15px 0;
  transform-origin: 15px 15px 0;
}

.reflect-circle {
  -webkit-transform-origin: 15px 15px 0;
  -moz-transform-origin: 15px 15px 0;
  -ms-transform-origin: 15px 15px 0;
  -o-transform-origin: 15px 15px 0;
  transform-origin: 15px 15px 0;
}
