<svg
    #vector
    [attr.height]="size"
    [attr.width]="size"
    [style.display]="isHide ? 'none' : 'inline-block'"
    (click)="onClick($event)"
    (mouseenter)="onMouseEnter($event)"
    (mousedown)="onMouseDown($event)"
    (mousemove)="onMouseMove($event)"
    (mouseup)="onMouseUp($event)"
    (mouseenter)="onMouseEnter($event)"
    (mouseleave)="onMouseLeave($event)"
    (mouseover)="onMouseOver($event)"
    version="1.1"
    viewBox="0 0 40 40"
    xmlns="http://www.w3.org/2000/svg">
    <g [attr.stroke-width]="strokeWidth"
       [attr.stroke]="strokeColor"
       fill="none"
       fill-rule="evenodd"
       stroke="none"
       stroke-linecap="round"
       stroke-linejoin="round">
        <path #glass d="m7,16c0,-4.972376 4.027624,-9 9,-9c4.972376,0 9,4.027624 9,9c0,4.972376 -4.027624,9 -9,9c-4.972376,0 -9,-4.027624 -9,-9z"></path>
        <path #handle stroke-linecap="round" d="m25.5,25.5l8,8"></path>
        <path class="reflect-line" #reflectLine stroke-linecap="round" d="m20.067567,11.589187c-1.069246,-0.986532 -2.498028,-1.589187 -4.067567,-1.589187"></path>
        <path class="reflect-circle" #reflectCircle [attr.stroke-width]="0" [attr.fill]="strokeColor" d="m20.5,13.5c0,-0.552486 0.447514,-1 1,-1c0.552486,0 1,0.447514 1,1c0,0.552486 -0.447514,1 -1,1c-0.552486,0 -1,-0.447514 -1,-1z"></path>
    </g>
</svg>
