.head {
  -webkit-transform-origin: 19.5px 11.5px 0;
  -moz-transform-origin: 19.5px 11.5px 0;
  -ms-transform-origin: 19.5px 11.5px 0;
  -o-transform-origin: 19.5px 11.5px 0;
  transform-origin: 19.5px 11.5px 0;
}
