<svg
    #vector
    [attr.height]="size"
    [attr.width]="size"
    [style.display]="isHide ? 'none' : 'inline-block'"
    version="1.1"
    viewBox="0 0 40 40"
    xmlns="http://www.w3.org/2000/svg">
    <g [attr.stroke-width]="strokeWidth"
       [attr.stroke]="strokeColor"
       fill="none"
       fill-rule="evenodd"
       stroke="none"
       stroke-linecap="round"
       stroke-linejoin="round">
        <path #body stroke-miterlimit="10" d="M9.5,32.5h20c1.1,0,2-0.9,2-2v0c0-5.5-4.5-10-10-10h-4
        c-5.5,0-10,4.5-10,10v0C7.5,31.6,8.4,32.5,9.5,32.5z"></path>
        <circle #head stroke-miterlimit="10" cx="19.5" cy="11.5" r="6"></circle>
    </g>
</svg>
