<svg
    #vector
    [attr.height]="size"
    [attr.width]="size"
    [style.display]="isHide ? 'none' : 'inline-block'"
    (click)="onClick($event)"
    (mouseenter)="onMouseEnter($event)"
    (mousedown)="onMouseDown($event)"
    (mousemove)="onMouseMove($event)"
    (mouseup)="onMouseUp($event)"
    (mouseenter)="onMouseEnter($event)"
    (mouseleave)="onMouseLeave($event)"
    (mouseover)="onMouseOver($event)"
    version="1.1"
    viewBox="0 0 40 40"
    xmlns="http://www.w3.org/2000/svg">
    <g [attr.stroke-width]="strokeWidth"
       [attr.stroke]="strokeColor"
       fill="none"
       fill-rule="evenodd"
       stroke="none"
       stroke-linecap="round"
       stroke-linejoin="round">
        <path
            #target
            d="m8.806571,17.527968l5.036973,6.000837l-0.669345,7.875995l7.007668,-3.089932l7.007669,3.089932l-0.669345,-7.875995l5.036973,-6.000837l-7.470854,-1.783362l-3.904443,-6.747889l-3.904443,6.747889l-7.470853,1.783362z"></path>
    </g>
</svg>
